.menuBackground {
    -fx-background-color: #1D2939;
}

.menuButton {
   -fx-pref-width: 200;
   -fx-pref-height: 50;
   -fx-background-radius: 0px;
   -fx-border-width: 0 0 1 0;
   -fx-border-color: #d8d8d8;
   -fx-background-color: #1D2939;
   -fx-text-fill: #FFFFFF;
}

.topButton {
    -fx-border-width: 1 0 1 0;
}

.menuButton:hover {
    -fx-background-color: #161f2b;
}


