/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* BUTTONS */

.button:hover .glyph-icon {
	-fx-fill: black;
}

.button {
	-fx-border-color: #646464;
	-fx-border-radius: 3;
	-fx-background-color: WHITE;
}

.userSelectButton {
	-fx-pref-height: 20;
	-fx-pref-width: 140;
}

.button:hover {
	/*-fx-padding: -10 -10 -25 -10;
    -fx-border-insets: -10 -10 -25 -10;
    -fx-background-insets: -10 -10 -25 -10;*/
    -fx-background-color: #eeffee;
}

.invisibleButton {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.invisibleButton:hover {
	/*-fx-padding: -10 -10 -25 -10;
    -fx-border-insets: -10 -10 -25 -10;
    -fx-background-insets: -10 -10 -25 -10;*/
    -fx-background-color: transparent;
}

.invisibleButton:hover .label {
	-fx-text-fill: #eeffee;
}

.invisibleButton:hover .glyph-icon {
	-fx-fill: #eeffee;
}

.invisibleFlashButton {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

/* BACKGROUNDS */

.greyBackground {
	-fx-background-color: #EEEEEE;
}

.whiteBackground {
	-fx-background-color: #FFFFFF;
}

.backgroundImage {
	
}

/* TEXT */

.redText {
	-fx-text-fill: #D00000;
	-fx-font-size: 16px;
	-fx-font-family: DejaVu Sans;
	-fx-font-style: Book;
}

.greyText {
	-fx-text-fill: #646464;
	-fx-font-size: 16px;
	-fx-font-family: DejaVu Sans;
	-fx-font-style: Book;
}

.headingText {
	-fx-text-fill: #D00000;
	-fx-font-size: 36px;
	-fx-font-family: DejaVu Sans;
	-fx-font-style: Book;
}

.titleText {
	-fx-text-fill: #D00000;
	-fx-font-size: 48px;
	-fx-font-family: DejaVu Sans;
	-fx-font-weight: Bold;
}

/* ICONS */

.glyph-icon {
	-fx-fill: #646464;
}

.redIcon {
	-fx-fill: #D00000;
}

.greyIcon {
	-fx-fill: #646464;
}

.glowIcon {
	-fx-fill: #FFD700;
	-fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 0, 0);
}

/* PANELS */

.boxRedOutline {
	-fx-background-color: WHITE;
	-fx-border-color: #d00000;
	-fx-border-radius: 3;
	-fx-background-color: #FFFFFF;
}

/* CHOICE BOXES */

.choice-box {
	-fx-border-color:  #D00000;
	-fx-border-radius: 5;
	-fx-background-color: WHITE;
}

/* TABLES */

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #448cb6;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #2c3644;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: #838288;
    /* -fx-table-cell-border-color: #838288; */
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #4a5768;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/* SCROLL PANE */

.scroll-pane {
	-fx-border-color: #646464;
	-fx-border-radius: 3;
	-fx-background-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

/* CHART */

.axis {
    /* -fx-font-size: 1.4em; */    
    -fx-tick-label-fill: #914800;
    /* -fx-font-family: Tahoma; */
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}


.radio-button .radio {
    -fx-border-width: 3px;
    -fx-border-color: #ffffff;
    -fx-border-insets: -2;
    -fx-background-color: #ccddff;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radio-button:disabled .radio {
	-fx-background-color: transparent;
	-fx-border-color:transparent;
}

.radio-button:selected .radio {
    -fx-background-color: #3578ff;
    -fx-background-image: null;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-background-color: transparent;
}