.normalBackground {
    -fx-background-color: #29363f;
}

.lightGrayBorder {
    -fx-border-color: #c9cacc;
    -fx-border-width: 1px;
}


.lightGreenBorder {
    -fx-border-color: #448cb6;
    -fx-border-width: 1px;
}

